/*顶部*/
.logo-brand {
    height: 50px;
    margin-top: -14px;
}

/* 内容部分 */
.content-container {
    /*padding: 50px 0 0 0;*/
    margin-top: -20px;
}

/* 轮播图 */
.top-swiper-img {
    height: 100%;
    max-height: 900px;
    width: 100%;
}

/* 简介 */
.brief-introduction {
    height: 700px;
    padding-top: 120px;
    background: url("/images/introducation-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.brief-introduction h1 {
    font-size: 70px;
}
.brief-introduction p {
    font-size: 12px;
}

/* 业务服务 */
.service-module {
    margin-top:80px;
}
.service-title span.label {
    background-color: #000;
    font-size: 20px;
    font-weight:200;
    border-radius: 4em;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: -32px;
}
.service-title hr {
    border-width: 5px;
}

.service-content {
    height: 550px;
    padding-top: 50px;
    background: url("/images/service.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #9d9d9d;
}

.service-content table {
    border: none;
    margin-top: 100px;
    color: #FFF;
    font-size: 14px;
}

.service-content table tr.first-tbl-row td {
    border-top:none;
}
.service-content table tr.last-tbl-row td {
    border-bottom:none;
}
.service-content table td.first-tbl-col {
    border-left:none;
}
.service-content table td.last-tbl-col{
    border-right:none;
}

.opa-td {
    opacity: 0.68;
}
.opa-td:hover {
    opacity: 1;
}

/* 合作品牌 */
.cooperation-module {
    margin-top:80px;
}
.cooperation-title span.label {
    background-color: #000;    font-size: 20px;
    font-weight:200;
    border-radius: 4em;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: -32px;
}
.cooperation-title hr {
    border-width: 5px;
}
.cooperation-brand div.row {
    margin-top: 10px;
}

#channel-list img{
    width: 128px;
}
#channel-list div.cooperation-brand {
    height: 640px;
}
#cooperation-swiper a {
    background: none;
}

#cooperation-channel {
    height: 700px;
    background: url("/images/deep-channel.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #9d9d9d;
    padding-top: 150px;
}

#deep-channel-title {
    color: #000;
    font-size: 50px;
    font-weight: bolder;
}
#channel-mid {
    font-size: 20px;
    font-weight: 300;
}
#channel-detail {
    font-size: 12px;
}

/* 钜美优势 */
.advantage {
    height: 580px;
    background: url("/images/advantage.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;
}

/* 案例分析 */
.swiper-pagination {
    bottom: -5px;
}

.case-analysts-bs {
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 400px;
}
.case-analysts-idx-show {
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}
.case-analysts-idx-1{
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}
.case-analysts-idx-2 {
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}
.case-analysts-idx-3 {
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}
.case-analysts-idx-4 {
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}
.case-analysts-idx-5 {
    height:500px;
    width: 260px;
    margin-top: -75px;
    display: none;
}


/* 解决方案 */
.solution div.row {
    padding-top: 80px;
}

.solution-row {
    padding-bottom: 80px;
}
.solution-row-even {
    background-color: #eff3fd;
}

.solution-1 {
    height: 330px;
    background: url("/images/solution-1.png") no-repeat center center;
}
.solution-2 {
    height: 330px;
    background: url("/images/solution-2.png") no-repeat center center;
}
.solution-3 {
    height: 330px;
    background: url("/images/solution-3.png") no-repeat center center;
}
.solution-4 {
    height: 330px;
    background: url("/images/solution-4.png") no-repeat center center;
}
.solution-5 {
    height: 330px;
    background: url("/images/solution-5.png") no-repeat center center;
}
.solution-msg {
    padding: 50px 0 0 200px;
}

/* 团队介绍 */
.head-pic {
    box-shadow: 10px 10px 5px #DCDCDC;
    -moz-box-shadow: 10px 10px 5px #DCDCDC;
    width: 100px;
    height: 100px;
}

.team-module {
    margin-top:80px;
}
.team-title span.label {
    background-color: #000;
    font-size: 20px;
    font-weight:200;
    border-radius: 4em;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: -32px;
}
.team-title hr {
    border-width: 5px;
}

.member-row {
    height: 269px;
    margin-bottom: 150px;
}

.social-logo {
    margin-top: 30px;
}
.social-logo:hover {

}
.wechat-logo {
    width:50px;
}


.weibo-logo {
    width:50px;
}

.social-logo:hover {
    cursor: crosshair;
}
.wechat-QR-code {
    width: 120px;
    position: relative;
    top: -207px;
    left: 39px;
    display: none;
}
.weibo-QR-code {
    width: 120px;
    position: relative;
    top: -169px;
    left: 39px;
    display: none;
}

.bio {
    padding: 30px 70px;
    background-color: #EFEFEF;
    left: -57px;
    top: 57px;
    z-index: -5;
}
.bio-role{
    font-size:18px;
    color: #949494;
}
.bio-msg {
    color: #BEBEBE;
}

.invite{
    width: 100%;
}

/* 公司位置地图 */
#position {
    height: 400px;
    margin: 0px;
}

.modal-img {
    height: 458px;
}


/* 底部 */
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.bs-docs-footer li a {
    color: #f5f5f5;
    font-weight: 200;
    font-size: 14px;
}
.contact-phone {
    font-size: 16px;
    font-weight: 400;
}


.foot-contact-item {
    margin-left: 10px;
}

.foot-contact-item .glyphicon-earphone {
    color: yellow;
    font-size: 20px;
}

.foot-logo {
    height: 35px;
    margin-right: 40px;
}

/* modal */
#modal-inf {

}