<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>首页</title>
    <!--/*-->
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <!--*/-->

    <link href="/static/swiper/swiper-3.4.2.min.css" th:href="@{swiper/swiper-3.4.2.min.css}" rel="stylesheet"/>

    <meta th:replace="layout/header :: head"/>

</head>
<body>

<header th:replace="layout/header :: header-navbar"></header>

<div class="content-container">
    <!-- 轮播图 -->
    <div class="carousel slide" id="top-swiper" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#top-swiper" data-slide-to="0" class="active"></li>
            <li data-target="#top-swiper" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/static/images/swiper-1.jpg" th:src="@{images/swiper-1.jpg}"
                     class="img-responsive center-block top-swiper-img"/>
            </div>
            <div class="item">
                <img src="/static/images/swiper-2.jpg" th:src="@{images/swiper-2.jpg}"
                     class="img-responsive center-block top-swiper-img"/>
            </div>
        </div>
    </div>

    <!-- 简介 -->
    <div class="brief-introduction" id="brief-introduction">
        <div class="col-md-3 col-md-offset-6">
            <h1>"钜美"是</h1>
            <p>杭州钜美网络科技有限公司坐落于杭州市钱塘江畔CBD中心，是华东地区具备一流实力的创新互联网营销服务企业。</p>
            <p>钜美科技依托自身丰富的媒介资源，致力于为成长型双创企业及品牌客户提供基于互联网+的营销服务解决方案。</p>
        </div>
    </div>

    <!-- 业务服务 -->
    <div class="service-module">
        <div class="service-title">
            <div class="row text-center">
                <hr/>
                <span class="label">业务服务</span>
            </div>
        </div>

        <div class="service-content">
            <p class="text-center">提供创新性的一站式移动互联网整合营销方案</p>
            <div class="container text-center">
                <table class="table table-bordered">
                    <tr class="first-tbl-row">
                        <td class="first-tbl-col">
                            <img class="smoove-service" src="/static/images/business-service-1.png" th:src="@{images/business-service-1.png}"/>
                            <!--<br/>
                            <span>咨询服务</span>-->
                        </td>
                        <td>
                            <img class="smoove-service" src="/static/images/business-service-2.png" th:src="@{images/business-service-2.png}"/>
                        </td>
                        <td>
                            <img class="smoove-service" src="/static/images/business-service-3.png" th:src="@{images/business-service-3.png}"/>
                        </td>
                        <td class="last-tbl-col">
                            <img class="smoove-service" src="/static/images/business-service-4.png" th:src="@{images/business-service-4.png}"/>
                        </td>
                    </tr>
                    <tr class="last-tbl-row">
                        <td class="first-tbl-col">
                            <img class="smoove-service" src="/static/images/business-service-5.png" th:src="@{images/business-service-5.png}"/>
                        </td>
                        <td>
                            <img class="smoove-service" src="/static/images/business-service-6.png" th:src="@{images/business-service-6.png}"/>
                        </td>
                        <td>
                            <img class="smoove-service" src="/static/images/business-service-7.png" th:src="@{images/business-service-7.png}"/>
                        </td>
                        <td class="last-tbl-col">
                            <img class="smoove-service" src="/static/images/business-service-8.png" th:src="@{images/business-service-8.png}"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 合作品牌 -->
    <div class="cooperation-module">
        <div class="cooperation-title">
            <div class="row text-center">
                <hr/>
                <span class="label">合作品牌</span>
            </div>
        </div>
        <div class="cooperation-content">
            <p class="text-center">跨领域提供顾问式、方案式营销服务覆盖电商、互联网金融、游戏、工具等主要行业</p>

            <div class="carousel slide" id="cooperation-swiper" data-ride="carousel">
                <ol class="carousel-indicators" id="channel-carousel">
                    <li data-target="#cooperation-swiper" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox" id="channel-list">
                    <div class="container cooperation-brand item active">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-1.png" th:src="@{images/logo/cooperation/c-1.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-2.png" th:src="@{images/logo/cooperation/c-2.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-3.png" th:src="@{images/logo/cooperation/c-3.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-4.png" th:src="@{images/logo/cooperation/c-4.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-5.png" th:src="@{images/logo/cooperation/c-5.png}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-6.png" th:src="@{images/logo/cooperation/c-6.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-7.png" th:src="@{images/logo/cooperation/c-7.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-8.png" th:src="@{images/logo/cooperation/c-8.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-9.png" th:src="@{images/logo/cooperation/c-9.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-10.png" th:src="@{images/logo/cooperation/c-10.png}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-11.png" th:src="@{images/logo/cooperation/c-11.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-12.png" th:src="@{images/logo/cooperation/c-12.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-13.png" th:src="@{images/logo/cooperation/c-13.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-14.png" th:src="@{images/logo/cooperation/c-14.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-15.png" th:src="@{images/logo/cooperation/c-15.png}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-16.png" th:src="@{images/logo/cooperation/c-16.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-17.png" th:src="@{images/logo/cooperation/c-17.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-18.png" th:src="@{images/logo/cooperation/c-18.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-19.png" th:src="@{images/logo/cooperation/c-19.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-20.png" th:src="@{images/logo/cooperation/c-20.png}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-21.png" th:src="@{images/logo/cooperation/c-21.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-22.png" th:src="@{images/logo/cooperation/c-22.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-23.png" th:src="@{images/logo/cooperation/c-23.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-24.png" th:src="@{images/logo/cooperation/c-24.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-25.png" th:src="@{images/logo/cooperation/c-25.png}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-26.png" th:src="@{images/logo/cooperation/c-26.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-27.png" th:src="@{images/logo/cooperation/c-27.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-28.png" th:src="@{images/logo/cooperation/c-28.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-29.png" th:src="@{images/logo/cooperation/c-29.png}"/>
                            </div>
                            <div class="col-md-2">
                                <img class="img-thumbnail" src="/static/images/logo/cooperation/c-30.png" th:src="@{images/logo/cooperation/c-30.png}"/>
                            </div>
                        </div>

                    </div>
                </div>

                <a class="left carousel-control" href="#cooperation-swiper" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#cooperation-swiper" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <div id="cooperation-channel">
                <div class="col-md-3 col-md-offset-9">
                    <h1 id="deep-channel-title">深度合作渠道</h1>
                    <p id="channel-mid">钜美已与腾讯、今日头条等主流媒介建立了长期深度合作</p>
                    <p id="channel-detail">专业团队制定最优投放方案，优质合作媒介中获取真实用户丰富投放形式确保用户增长，
                        精准定向投放保障用户质量实时追踪反馈，动态调整，全面监测，专注效果实现。</p>
                    <a role="button" href="#" class="btn btn-default btn-primary">了解详情</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 钜美优势 -->
    <div class="cooperation-module">
        <div class="cooperation-title">
            <div class="row text-center">
                <hr/>
                <span class="label">钜美优势</span>
            </div>
        </div>
        <div class="advantage">
        </div>
    </div>

    <!-- 案例分析 -->
    <div id="case-module" class="cooperation-module">
        <div class="cooperation-title">
            <div class="row text-center">
                <hr/>
                <span class="label">案例分析</span>
            </div>
        </div>
        <div class="case-analysts">
            <div class="swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="img-thumbnail" src="/static/images/dog.jpg" th:src="@{images/dog.jpg}"/>
                    </div>
                    <div class="swiper-slide">
                        <img class="img-thumbnail" src="/static/images/dog.jpg" th:src="@{images/dog.jpg}"/>
                    </div>
                    <div class="swiper-slide">
                        <img class="img-thumbnail" src="/static/images/dog.jpg" th:src="@{images/dog.jpg}"/>
                    </div>
                    <div class="swiper-slide">
                        <img class="img-thumbnail" src="/static/images/dog.jpg" th:src="@{images/dog.jpg}"/>
                    </div>
                    <div class="swiper-slide">
                        <img class="img-thumbnail" src="/static/images/dog.jpg" th:src="@{images/dog.jpg}"/>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <!-- 解决方案 -->
    <div id="solution-tag" class="cooperation-module">
        <div class="cooperation-title">
            <div class="row text-center">
                <hr/>
                <span class="label">解决方案</span>
            </div>
        </div>
        <div class="solution">
            <div class="row solution-row">
                <div class="col-md-6 solution-msg">
                    <h3>营销目标</h3>
                    <br/>
                    <p>大流量的投放渠道，挖掘潜在客户，通过精细化运营提升新用户的转化，
                        实时追踪数据反馈，策略动态调整，实现最优的推广效果。</p>
                </div>
                <div class="col-md-6 solution-1 smoove-1"></div>
            </div>

            <div class="row solution-row solution-row-even">
                <div class="col-md-6 solution-msg">
                    <h3>客户目标人群分析</h3>
                    <br/>
                    <p>收集用户标签，基本属性，媒体偏好，社交偏好，消费习惯建立用户模型。</p>
                </div>
                <div class="col-md-6 solution-2 smoove-2"></div>
            </div>

            <div class="row solution-row">
                <div class="col-md-6 solution-msg">
                    <h3>精准定向投放</h3>
                    <br/>
                    <p>多维定向技术，时间定向、媒体定向、重定向、频次定向、地域定向、行为定向，筛选最有传播价值的人群。</p>
                </div>
                <div class="col-md-6 solution-3 smoove-3"></div>
            </div>

            <div class="row solution-row solution-row-even">
                <div class="col-md-6 solution-msg">
                    <h3>投放策略</h3>
                    <br/>
                    <ol class="">
                        <li>分析定位</li>
                        <li>投放测试</li>
                        <li>成本优化</li>
                        <li>稳定放量</li>
                        <li>数据反馈</li>
                        <li>动态调整</li>
                    </ol>
                </div>
                <div class="col-md-6 solution-4 smoove-4"></div>
            </div>

            <div class="row solution-row">
                <div class="col-md-6 solution-msg">
                    <h3>服务保障</h3>
                    <br/>
                    <p>前一日数据整理反馈，异常情况说明及处理，当日投放计划安排，既定方案执行测试，节点数据核对，当日投放小结。</p>
                </div>
                <div class="col-md-6 solution-5 smoove-5"></div>
            </div>
        </div>
    </div>

    <!-- 团队介绍 -->
    <div class="team-module" id="join-us">
        <div class="team-title">
            <div class="row text-center">
                <hr/>
                <span class="label">团队介绍</span>
            </div>
        </div>
        <div>
            <div class="container member-row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-circle" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-1.png"
                             th:src="@{images/members/qiufeng-wechat-1.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-circle" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-2.png"
                             th:src="@{images/members/qiufeng-wechat-2.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="container member-row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-rounded" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-3.png"
                             th:src="@{images/members/qiufeng-wechat-3.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-rounded" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-4.png"
                             th:src="@{images/members/qiufeng-wechat-4.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="container member-row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-thumbnail" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-5.png"
                             th:src="@{images/members/qiufeng-wechat-5.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <img class="head-pic img-thumbnail" src="/static/images/dog.jpg"
                                     th:src="@{images/dog.jpg}"/>
                            </li>
                            <li class="social-logo" data-qr-code="wechat-QR-code">
                                <img class="wechat-logo" src="/static/images/logo/weichat-logo.png"
                                     th:src="@{images/logo/weichat-logo.png}"/>
                            </li>
                            <li class="social-logo" data-qr-code="weibo-QR-code">
                                <img class="weibo-logo" src="/static/images/logo/weibo-logo.jpg"
                                     th:src="@{images/logo/weibo-logo.jpg}"/>
                            </li>
                        </ul>
                        <img class="wechat-QR-code" src="/static/images/members/qiufeng-wechat-6.png"
                             th:src="@{images/members/qiufeng-wechat-6.png}"/>
                        <img class="weibo-QR-code" src="/static/images/members/qiufeng-weibo.png"
                             th:src="@{images/members/qiufeng-weibo.png}"/>
                    </div>
                    <div class="col-md-9 bio">
                        <h3>SilenceQF</h3>
                        <p class="bio-role">Java Senior Engineer</p>
                        <p class="bio-msg">5年后端开发经验，熟悉Java／javascript／MySQL，了解Spring／MyBatis等主流框架基本原理并熟练使用，
                            同时关注当下流行技术栈，熟悉微信开发。</p>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- 加入我们 -->
    <div class="service-module">
        <div class="service-title">
            <div class="row text-center">
                <hr/>
                <span class="label">加入我们</span>
            </div>
        </div>
    </div>
</div>


<footer th:replace="layout/header :: frag-footer"></footer>


<script th:replace="layout/header :: script"></script>

<script src="/static/swiper/swiper-3.4.2.jquery.min.js" th:src="@{swiper/swiper-3.4.2.jquery.min.js}"></script>

<script src="/static/js/index.js" th:src="@{js/index.js}"></script>

</body>
</html>